# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.cache/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
*.csv
!train.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pyc
